
.contenedorCart{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 55px;
}

.contenedorCart a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

