
.contenedorCart{
 display: inline-block;
 padding: 65px;
}

.contenedorCart a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.iconoCarrito{
    font-size: 30px;
    text-align: center;
}

.cantCarrito span{
    font-size: 30px;
    text-align: center;
}
